<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-rny43ITQQWBPIyo8CriAjZJ1p4wPxl0</string>
	<key>GCM_SENDER_ID</key>
	<string>514956723433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecxlabs.livekitintegration</string>
	<key>PROJECT_ID</key>
	<string>livekit-integration-fxqcdq</string>
	<key>STORAGE_BUCKET</key>
	<string>livekit-integration-fxqcdq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514956723433:ios:423304d23c44a72703dc78</string>
</dict>
</plist>